@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
.head-bar {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #3858e9;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}

.btn-css{
    border: 2px ;
    border-radius: 5px;
    color: #fff;
    padding: 12px 10px;
    background-color: rgb(56,88,233);
    cursor: pointer;
}

.btn-css:hover{
    background-color: rgb(50, 85, 230);
}

h2{
    text-align: center;
    box-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 2px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 25px;
    padding: 25px;
    border-radius: 10px;
}